[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest"

[packages]
pytest = "*"
aiocache = {version = "*",extras = ["redis"]}
python-dateutil = "*"
pytest-aiohttp = "*"
aiofiles = "*"
gain = {path = "."}
async-generator = "*"
# pytest-asyncio = "*"

[dev-packages]

[requires]
python_version = "3.5"
